<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

* Extract information from a given web site 
* Write the scraped data into a csv file.

## Extract information from the given web site
You will extract the data from the below web site: <br>

In [47]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [48]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as soup

Download the webpage at the url

In [49]:
html = requests.get(url)

Create a soup object

In [50]:
bsObj = soup(html.text, 'html.parser')

Scrape the `Language name` and `annual average salary`.

In [57]:

df = pd.DataFrame(columns=['Language Name', 'Annual Average Salary'])

tables = bsObj.select('table')

for table in tables:  # Iterate over each table
    rows = table.find_all('tr')
    for row in rows[1:]:  # Find rows within each table
        columns = row.find_all('td')
        if len(columns) > 3:  # Ensure there are enough columns
            LangNam = columns[1].text.strip()
            AnnSalary = columns[3].text.strip()
            df = df.append({'Language Name': LangNam, 'Annual Average Salary': AnnSalary}, ignore_index=True)

df.head()
            
#df = pd.DataFrame(columns=['Language Name', 'Annual Average Salary'])

#tables = bsObj.select('table')

#for table in tables:  # Iterate over each table
#    for row in table.find_all('tr'):  # Find rows within each table
#        columns = row.find_all('td')
#        if len(columns) > 2:  # Ensure there are enough columns
#            LangNam = columns[1].text.strip()
#            AnnSalary = columns[2].text.strip()
#            df = df.append({'Language Name': LangNam, 'Annual Average Salary': AnnSalary}, ignore_index=True)

  Language Name Annual Average Salary
0        Python              $114,383
1          Java              $101,013
2             R               $92,037
3    Javascript              $110,981
4         Swift              $130,801

Save the scrapped data into a file named *popular-languages.csv*

In [58]:
df.to_csv('popular-languages.csv', index=False)

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-10-17  | 0.1  | Ramesh Sannareddy  |  Created initial version of the lab |

 Copyright &copy; 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01).